{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<div class="container">
    <div class="box has-text-centered" style="min-width: 100%">
        <div class="buttons is-right">
            <a href="{% url 'blog:post' post.slug %}?action=saved&pk={{ post.pk }}" class="button is-info is-outlined">
                {% if user in post.saved.all %}
                <ion-icon name="save"></ion-icon>
                {% else %}
                <ion-icon name="save-outline"></ion-icon>
                {% endif %}
            </a>
        </div>
        <div class="title has-text-black">
            {{ post }}
        </div>

        {% if post.image %}
        <img src="{{ post.image.url }}" alt="" class="image is-centered post-image is-fullwidth">
        {% else %}
        <img src="{% static 'images/image.jpg' %}" alt="" class="image is-centered post-image">
        {% endif %}
        <div class="subtitle has-text-black">
            {{ post.text }}
        </div>
        <div class="buttons">
            <a class="button {% if user in post.likes.all %} is-success {% endif %}"
                href="{% url 'blog:like' post.pk %}?target=post&field=likes">
                <ion-icon name="thumbs-up"></ion-icon>
            </a>
            <a class="button {% if user in post.dislikes.all %} is-danger {% endif %}"
                href="{% url 'blog:like' post.pk %}?target=post&field=dislikes">
                <ion-icon name="thumbs-down"></ion-icon>
            </a>
        </div>
        {% if user == post.author %}
        <div class="subtitle has-text-right">Опубликовано вами, {{ post.date }}</div>
        {% else %}
        <div class="subtitle has-text-right">
            Опубликовано автором: {{ post.author }}, {{ post.date }}
            <br> <br>
            <a class="button is-info is-outlined"
                href="{% url 'blog:home' %}?filter=author_post&user={{ post.author.pk }}">
                Посмотреть все посты автора
            </a>
        </div>
        {% endif %}
    </div>
    {% if post.comments_allowed %}
    <div class="box">
        <div class="is-flex is-justify-content-space-between my-5">
            <div>
                {% if post.comment_set.all %}
                <div class="title">Комментарии читателей</div>
                {% else %}
                <div class="title">Пока нет комментариев</div>
                {% endif %}
            </div>
            <div>
                <a class="button is-info is-outlined" href="{% url 'blog:post' post.slug %}?filter=new">Новые</a>
                <a class="button is-info is-outlined" href="{% url 'blog:post' post.slug %}?filter=old">Старые</a>
                <a class="button is-info is-outlined"
                    href="{% url 'blog:post' post.slug %}?filter=popular">Популярные</a>
                <a class="button is-info is-outlined" href="{% url 'blog:post' post.slug %}?filter=my">Мои
                </a>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field }}
            {% endfor %}
            <button class="button is-success mt-3">
                Отправить
            </button>
        </form>
        <div class="columns is-centered is-multiline">
            {% for comment in comments %}
            <div class="column is-4">
                <div class="message is-info">
                    <div class="message-header">
                        {{ comment.user }}
                        {% if request.user == comment.user %}
                        <div class="buttons is-right">
                            <a class="button is-small is-info is-outlined is-inverted"
                                href="{% url 'blog:comment_delete' comment.pk %}">
                                <ion-icon name="trash-outline"></ion-icon>
                            </a>
                            <a class="button is-small is-info is-outlined is-inverted"
                                href="{% url 'blog:comment_edit' comment.pk %}">
                                <ion-icon name="create-outline"></ion-icon>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="message-body has-text-centered">
                        {{ comment.text }}
                        <div class="container my-3">
                            <div class="buttons is-right">
                                <a href="{% url 'blog:like' comment.pk %}?target=comment&field=likes"
                                    class="button is-rounded is-small">
                                    {% if user not in comment.likes.all %}
                                    <ion-icon name='heart-outline' class="has-text-success"></ion-icon>
                                    {% else %}
                                    <ion-icon name='heart' class="has-text-success"></ion-icon>
                                    {% endif %}
                                </a>
                                <a href="{% url 'blog:like' comment.pk %}?target=comment&field=dislikes"
                                    class="button is-rounded is-small">
                                    {% if user not in comment.dislikes.all %}
                                    <ion-icon name='heart-dislike-outline' class="has-text-danger"></ion-icon>
                                    {% else %}
                                    <ion-icon name='heart-dislike' class="has-text-danger"></ion-icon>
                                    {% endif %}
                                </a>
                                <a class="button is-rounded is-small reply-button"
                                    href="{% url 'blog:reply' comment.pk %}">
                                    <ion-icon name="return-down-back-outline" class="has-text-info"></ion-icon>
                                </a>
                            </div>
                        </div>
                        <div class="date-hover has-text-left">
                            <div class="display none">
                                {{ comment.date }}
                                <br>
                                {% if comment.children.count > 0 %}
                                <a href="{% url 'blog:reply' comment.pk %}">
                                    Ответов: {{ comment.children.count }}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% if comments.has_other_pages %}
        <nav class="pagination is-centered my-6">
            {% if comments.has_previous %}
            <a href="?page={{ comments.previous_page_number }}" class="pagination-previous button is-info is-outlined">
                Назад
            </a>
            {% endif %}
            {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}" class="pagination-next button is-info is-outlined">
                Далее
            </a>
            {% endif %}
            <ul class="pagination-list">
                <li>
                    <a aria-label="{{ comments.pages }}" class="pagination-link is-current">
                        {{ comments.number }}
                    </a>
                </li>
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}